<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>多文件上传</title>
</head>
<body>
src/main/resources/templates/thymeleaf/multiUpload.html<br>
<form method="post" action="/multiUpload" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="file" name="file"><br>
    <input type="text" name="fileType" placeholder="输入fileType" ><br>
    <input type="text" name="fileCount" placeholder="输入fileCount" ><br>
    <input type="submit" value="提交">
</form>
</body>
</html>
